<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrarse</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <img src="assets/images/Logo.png" alt="Logo">
  </div>

  <div>
    <ion-title size="large">Ingresa tus datos personales:</ion-title>
    <ion-title size="small">...</ion-title>
    <ion-list>
      <ion-list>

        <ion-item>
          <ion-input [(ngModel)]="nombre" label="Nombre:" placeholder="Primer nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="apellido" label="Apellido:" placeholder="Apellido Paterno"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input [(ngModel)]="email" label="Correo:" type="email" placeholder="email@duocuc.cl" helperText="Correo institucional de DuocUC"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="password" label="Contraseña:" type="password" value="password" helperText="Se recomienda utilizar números y letras"></ion-input>
        </ion-item>

        <ion-item>
          <ion-select [(ngModel)]="tipo" label="Tipo de Usuario:" placeholder="Seleccione una opción">
            <ion-select-option value="admin">Conductor</ion-select-option>
            <ion-select-option value="cliente">Pasajero</ion-select-option>
          </ion-select>
        </ion-item>
        
      </ion-list>
    </ion-list>

    <ion-button (click)="Registrar()" expand="block" routerDirection="back">Registrar</ion-button>

    <ion-button (click)="Cancelar()" expand="block" color="warning" routerDirection="forward">Cancelar</ion-button>
    
  </div>
</ion-content>